/*Navigation*/
#navbar{
    position: fixed;
    height: 100%;
    width: 280px;
    display: grid;
    grid-template-rows: auto;
    border-right: 3px solid black;
    top: 0;
    left: 0;
    line-height: 0;
}
header h1{
    position: relative;
    padding-left: 20px;
    padding-top: 25px;
    margin: 0;
    font-size: 30px;
}
#navbar a{
    position: relative;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    padding-left: 20px;
    padding-top: 25px;
    font-size: 18px;
    line-height: 0;
}
main{
    padding-left: 300px;
}